<div class="p-2 w-100">
    <div class="fw-bold d-flex justify-content-between p-2 w-100">
        <img src="{{ user.avatar(50) }}">
        <a><strong>{{ user.username }}</strong></a>
        <a class="align-items-center">
            <span class="badge bg-primary rounded-pill text-white">{{ message.timestamp }}</span>
            <button type="button" class="close" onClick="deleteMessage({{ message.id }})">
                <span aria-hidden="true">&times;</span>
            </button>
        </a>
    </div>
    {{ message.msg }}
</div>
