{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="h3 p-3" align="center">Rooms</div>
<div class="list-group" id="rooms">
    {% for room in rooms %}
    <a class="list-group-item list-group-item-action"
        id="room"
        href="{{ url_for('main.room', name=room.name) }}">{{ room.name }}</a>
    {% endfor %}
</div>
<br />
<form action="/create_room">
    <div align="center">
        <button class="btn btn-primary">Create New Room</button>
    </div>
</form>
{% endblock %}
