{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block app_content %}
    <div class="outer_wrapper" id="rooms">
        <div class="inner_wrapper">
            <div class="h3 p-3" align="center">Public Rooms</div>
            <div class="room_col">
                {% for room in rooms %}
                    {% if not room.private %}
                        <a class="list-group-item list-group-item-action"
                           id="room"
                           href="{{ url_for('chat.room', name=room.name) }}">{{ room.name }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
        <div class="inner_wrapper">
            <div class="h3 p-3" align="center">Private Rooms</div>
            <div class="room_col">
                {% if number_of_private_rooms < 1 %}
                    <div id="no_rooms">
                        <p>No Rooms</p>
                    </div>
                {% endif %}
                {% for room in rooms %}
                    {% if room.private %}
                        <a class="list-group-item list-group-item-action"
                           id="room"
                           href="{{ url_for('chat.room', name=room.name) }}">{{ room.name }}</a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <br />
</div>
<form action="{{ url_for("main.create_room") }}">
    <div align="center">
        <button class="btn btn-primary">Create New Room</button>
    </div>
</form>
{% endblock %}
{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          type="text/css"
          href=" {{ url_for('static', filename='styles/main.css') }}" />
{% endblock %}
