{% extends "base.html" %}
{% block title %}{{ user.username }}'s Profile{% endblock %}
{% block content %}
<div class="h3 p-3">User: {{ user.username }}</div>
<img src="{{ user.avatar(128) }}">
<div class="p-3">
    {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
    {% if user.last_seen %}
    <p>Last seen: {{ moment(user.last_seen).fromNow() }}
    {% endif %}
</div>
{% if user == current_user %}
<p><a href="{{ url_for('main.edit_profile') }}">Edit your profile</a></p>
{% endif %}
{% endblock %}
