{% extends "base.html" %}
{% block title %}{{ user.username }}'s Profile{% endblock %}
{% block app_content %}
<div class="h3 p-3">User: {{ user.username }}</div>
<img src="{{ user.get_avatar(128) }}">
<div class="p-3">
    {% if user.about_me %}<p>{{ user.about_me }}</p>{% endif %}
    {% if user.last_seen %}
    <p>Last seen: {{ moment(user.last_seen).fromNow() }}
    {% endif %}
</div>
{% if user == current_user %}
<a class="btn btn-primary glyphicon glyphicon-edit" href={{ url_for('main.edit_profile') }}> Edit</a>
{% else %}
<a class="btn btn-primary glyphicon glyphicon-plus" href={{ url_for('main.invite_room', username=user.username) }}> Invite</a>
{% endif %}
{% endblock %}
